extends ../layout
block content
  style. 
    .rich-text {
      font-size: 1.5rem;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
    }

    .rich-pages {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
    }

    .rich-content {
      padding: 2cm 2cm 2cm 2cm;
      margin: 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 804px;
      height: 1241px;
      min-width: 804px;
      min-height: 1241px;
      max-width: 804px;
      max-height: 1241px;
      overflow: hidden;
      background-color: #fff;
      border: 1px solid #ccc;
      margin: 0 auto;
      font: 500 12px Arial;
      overflow: auto;
      color: black;
    }

    .rich-content * {
      background-color: inherit;
    }

    .rich-text-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .rich-text-menu input[type="color"]{
      width: 160px !important;
      height: 60px !important;
      border: none !important;
      cursor: pointer !important;
    }

    .rich-active {
      background-color: #ccc !important;
      color: #000 !important;
    }

    .rich-page-text {
      width: 100%;
      height: fit-content;
      background-color: red;
    }

  

  div 
    h3.text-center Crie & edite textos

  .rich-text#class-content(data-rich-text="rich-text-0")
