<div class="row">
  <div class="col p-5">
    <h2 class="text-center p-2">
      You are trying to access a route inexistent or without permission. 
      These are the routes you can access:
    </h2>
		<h2>User</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/user">http://localhost:3333/user/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/user/create">http://localhost:3333/user/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/user">http://localhost:3333/user/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/user/update">http://localhost:3333/user/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/user">http://localhost:3333/user/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Course</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/course">http://localhost:3333/course/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/course/create">http://localhost:3333/course/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/course">http://localhost:3333/course/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/course/update">http://localhost:3333/course/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/course">http://localhost:3333/course/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Period</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/period">http://localhost:3333/period/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/period/create">http://localhost:3333/period/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/period">http://localhost:3333/period/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/period/update">http://localhost:3333/period/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/period">http://localhost:3333/period/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Discipline</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/discipline">http://localhost:3333/discipline/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/discipline/create">http://localhost:3333/discipline/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/discipline">http://localhost:3333/discipline/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/discipline/update">http://localhost:3333/discipline/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/discipline">http://localhost:3333/discipline/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Class</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/class">http://localhost:3333/class/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/class/create">http://localhost:3333/class/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/class">http://localhost:3333/class/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/class/update">http://localhost:3333/class/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/class">http://localhost:3333/class/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Activity</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/activity">http://localhost:3333/activity/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/activity/create">http://localhost:3333/activity/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/activity">http://localhost:3333/activity/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/activity/update">http://localhost:3333/activity/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/activity">http://localhost:3333/activity/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Test</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/test">http://localhost:3333/test/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/test/create">http://localhost:3333/test/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/test">http://localhost:3333/test/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/test/update">http://localhost:3333/test/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/test">http://localhost:3333/test/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Work</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/work">http://localhost:3333/work/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/work/create">http://localhost:3333/work/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/work">http://localhost:3333/work/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/work/update">http://localhost:3333/work/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/work">http://localhost:3333/work/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Reminder</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/reminder">http://localhost:3333/reminder/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/reminder/create">http://localhost:3333/reminder/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/reminder">http://localhost:3333/reminder/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/reminder/update">http://localhost:3333/reminder/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/reminder">http://localhost:3333/reminder/</a></td>
        </tr>
      </tbody>
    </table>
		<h2>Notes</h2>
    <table class="table table-dark table-striped">
      <thead class="thead">
        <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Name</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody class="tbody">
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/notes">http://localhost:3333/notes/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-success"> GET </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/notes/create">http://localhost:3333/notes/create</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-warning"> POST </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/notes">http://localhost:3333/notes/</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-primary"> PUT </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/notes/update">http://localhost:3333/notes/update</a></td>
        </tr>
				<tr>
          <td class="fw-bold text-danger"> DELETE </td>
          <td>/</td>
          <td>/</td>
          <td><a href="http://localhost:3333/notes">http://localhost:3333/notes/</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>